.beheerderkeuze {
    border: 1px solid black;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 40%;
    margin-left: 150px;
}

.beheerdertitel {
    margin-left: 300px;
    font-weight: bold;
    font-family: Chalkboard!Important;
}

.btnbeheerder  {
    background: #2e3133;
    color: #ffffff!important;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.btnbeheerder:hover  {
    background: #00e2ff;
    color: #ffffff!important;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
}