.borderinlog {
    border: 1px solid black;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 40%;
    margin-left: 500px;
}

.ruimte {
    margin-bottom: 1%;
}

.textinlog {
    margin-top: 1%;
    font-family: Chalkboard;
    margin-bottom: 1%;
    color: #ffffff;
}

.wachtwoordvergeten {
    margin-left: 28%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    border: 1px solid black;
    background: #2e3133;
}

.registeren {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    border: 1px solid black;
    background: #2e3133;
}

.registeren:hover {
    background: #00e2ff;
}

.wachtwoordvergeten:hover {
    background: #00e2ff;
}

.wwvergeten .registercolor {
    color: white!important;
}