.borderregister {
    border: 1px solid black;
    box-shadow: 5px 5px 2px grey;
}

.tabelregister {
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabelregisterhelemaal {
    margin-left: 14%;
}

.textregistreer {
    text-align: center;
    margin-left: -280px;
    margin-top: 3%;
    margin-bottom: 2%;
    font-weight: bold;
    font-family: Chalkboard;
}

.inputclass {
    width: 350px;
}

.btnregistreer {
    margin-left: 770px;
    margin-top: 2%;
    background: #2e3133;
    color: #ffffff!important;
    box-shadow: 2px 2px 2px grey;
}

.verplict {
    font-weight: bold;
    margin-bottom: 3%;
    margin-left: 20%;
}